# Arquivos e pastas do Visual Studio e VS Code
.vs/
.vscode/
*.suo
*.user
**/.idea/
*.sln.DotSettings.user

# Pastas de build
[Bb]in/
[Oo]bj/

# Arquivos de build
*.dll
*.exe
*.pdb

# Pacotes (se usar NuGet local)
[Pp]ackages/